.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#masthead {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('./imgs/masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;

  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s;
}

.container {
  margin-top: 75px;
  font-family: "Courier New", Courier, monospace;
}

.core p {
  margin-bottom: 0px;
}

.gallery-title {
  margin-top: 75px;
}

.posters .img-fluid {
  transition: transform .2s;
}

.posters .img-fluid:hover {
  transform: scale(1.05);
}

.pic .img-fluid {
  transition: transform .2s;
}

.jsacard img {
  border-radius: 25px;
  max-width: 300px;
  display: table;
  margin: auto;
  transition: transform .2s;
}

.socialimg {
  display: table;
  margin: auto;
  margin-bottom: 50px;
  transition: transform .2s;
}

.pic .img-fluid:hover {
  transform: scale(1.1);
}

.socialimg:hover {
  transform: scale(1.25);
}

.jsacard img:hover {
  transform: scale(1.1);
}

.socialimgft {
  float: right;
}

.corpimg {
  display: table;
  margin: auto;
  margin-bottom: 50px;
}

footer {
  width: 100%;
  background: linear-gradient(to bottom right, rgb(255, 74, 74), rgb(255, 52, 177));
  padding: 60px 60px;
  margin-top: 75px;
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoInstagram:hover {
	background-color: #ffc838;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoYouTube:hover {
	background-color:#ff0000;
}
.social-network a.icoFacebook:hover i, .social-network a.icoInstagram:hover i, .social-network a.icoYouTube:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.footer a {
 background-color: black;   
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
